<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">
        <center><img src="images/OTS-logo.png" alt="OTS Logo" width= "100" height="100"></center>

        <title>
            OTS - The Occupancy Detection System
        </title>
    </head>
    <body>
        <header>
        </header>
        <center><h1>OTS - The Occupancy Detection System</h1></center>
        <hr>
        <h2>Current Occupancy: {{currentOccupancy}} which is {{OccupancyPercentage}}% full!</h2>
        <p>Today's Date and Time {{datetime}}</p>
        
    </body>
</html>