*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #42455a;
}
.container{
    width: 100%;
    height: 100%;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}
.logo img{
    width: 80px;
    margin-top: -25px;
    margin-right: 30px;
}
.active{
    color: #99CB38 !important;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color:#fff;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app-text p{
    font-size: 15px;
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: 919191;
}
.app-picture{
    width: 50%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}